$body-background: #ffffff;

$greenish: #d3e2b6;
$blueish: #68b3af;
$blueish-hover: #87BDB1;

$body-font-family: "Lato", sans-serif !default;
$global-font-size: 18px;

$topbar-background: $blueish;

$price-title-bg: $greenish;
$price-title-color: #444;
