@import "variables";
@import "foundation/scss/foundation/components/block-grid";
@import "foundation/scss/foundation/components/grid";
@import "foundation/scss/foundation/components/type";
@import "foundation/scss/foundation/components/top-bar";
@import "foundation/scss/foundation/components/visibility";
@import "foundation/scss/foundation/components/pricing-tables";

.row {
  padding: 0 1rem;
}

.map {
  padding: 0;
  border: 1px solid #c6c6c6;
  height: 200px;
}

@media #{$large-up} {
  .map {
    height: 400px;
  }
}

.expanded-iframe {
  display: block;
  width: 100%;
}

.highlighted-background {
  background-color: #f4f4f4;
  border: 1px solid #c6c6c6;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
