@import "foundation-sites/scss/foundation";
@import "foundation-sites/scss/util/util";
@import "variables";
@import "settings";

@include foundation-everything;

.row {
  padding: 0 1rem;
}

.map {
  padding: 0;
  border: 1px solid #c6c6c6;
  height: 200px;
}

.expanded-iframe {
  display: block;
  width: 100%;
}

.highlighted-background {
  background-color: #f4f4f4;
  border: 1px solid #c6c6c6;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.section-header {
  color: #eaeaea;
  font-size: rem-calc(80);
  font-family: 'Oswald', serif;
  margin-top: rem-calc(40);
}

.top-bar {
  border-bottom: 5px solid darken($blueish, 15%);
}

.therapies dd {
  margin-bottom: rem-calc(20);
}

.vcard {
  list-style-type: none;
  border: 1px solid #c6c6c6;
}

.vcard .fa {
  margin-left: rem-calc(10);
  margin-right: rem-calc(10);
}

.fa {
  color: #c6c6c6;
}
