@import "foundation-sites/scss/foundation";
@import "foundation-sites/scss/util/util";
@import "variables";
@import "settings";

@include foundation-everything;

.row {
  padding: 0 1rem;
}

.map {
  padding: 0;
  border: 1px solid #c6c6c6;
  height: 200px;
}

.expanded-iframe {
  display: block;
  width: 100%;
}

.highlighted-background {
  background-color: #f4f4f4;
  border: 1px solid #c6c6c6;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.pricing-table .description {
  height: 60px;
  border-bottom: none;
}

.section-header {
  color: #cecece;
  font-size: rem-calc(60);
}
