<div class="row">
  <h1>¡Bienvenido!</h1><!--   TODO: Más grande -->
  <p>Soy Daniel García Fuentes, diplomado en Fisioterapia desde 2004 y experto universitario en Osteopatía. Me dedico a tratar cualquier tipo de lesión de origen traumatológica, reumática, neurológica, deportiva, etc., tanto en consulta como a domicilio.</p>

  <p>Las sesiones son totalmente individualizadas y de duración de media hora o una hora completa, según requiera la lesión. Realizo, fundamentalmente, terapias manuales para el tratamiento de las lesiones:</p>

  <ul>
    <li>Masoterapia</li>
    <li>Estiramientos</li>
    <li>Medidas de higiene postural</li>
    <li>Ejercicios terapéuticos</li>
    <li>Técnicas de osteopatía</li>
  </ul>

  <p>¡Puede consultar de manera gratuita!</p>

  <ul class="small-block-grid-2">
    <li>
      <ul class="pricing-table">
        <li class="title">Media sesión</li>
        <li class="price">12 euros</li>
        <li class="description">Media sesión de la buena</li>
      </ul>
    </li>
    <li>
      <ul class="pricing-table">
        <li class="title">Sesión completa</li>
        <li class="price">18 euros</li>
        <li class="description">Vaya chollazo chiquillo</li>
      </ul>
    </li>
  </ul>
</div>

<div class="highlighted-background">
  <div class="row">
    <div class="columns small-12 large-9">
      <iframe class="map expanded-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.131803809856!2d-6.940100600000028!3d37.26830150000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11cfe0e4be7c89%3A0x862bcf8de27d20e!2sCalle+Virgen+del+Mayor+Dolor%2C+17%2C+21005+Huelva!5e0!3m2!1sen!2ses!4v1415702456223" frameborder="0"></iframe>
    </div>
    <div class="columns small-12 large-3">
      <ul>
        <li>
          <i class="fa fa-envelope-o"></i><span>dgfsalud@gmail.com</span
        </li>
        <li>
          <i class="fa fa-mobile-phone"></i><span>666 616263</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <p><%= lorem.paragraph %></p>
  <p><%= lorem.paragraph %></p>
</div>
