<h1>Hello world</h1>
<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>

<ul class="small-block-grid-2">
  <li>
    <ul class="pricing-table">
      <li class="title">Media sesión</li>
      <li class="price">12 euros</li>
      <li class="description">Media sesión de la buena</li>
    </ul>
  </li>
  <li>
    <ul class="pricing-table">
      <li class="title">Sesión completa</li>
      <li class="price">18 euros</li>
      <li class="description">Vaya chollazo chiquillo</li>
    </ul>
  </li>
</ul>

<p><%= lorem.paragraph %></p>
<p><%= lorem.paragraph %></p>
