<div class="row">
  <h1 class="section-header" id="welcome">Bienvenido</h1><!--   TODO: Más grande -->
  <p>Soy Daniel García Fuentes, diplomado en Fisioterapia por la <a
  href="http://www.fefp.us.es/">Universidad de Sevilla</a> desde 2004
  y experto universitario en Osteopatía. Me dedico a tratar cualquier
  tipo de lesión de origen traumatológica, reumática, neurológica o
  deportiva, tanto en consulta como a domicilio.</p>

  <p>Las sesiones son totalmente individualizadas y de duración de
  media hora o una hora completa, según requiera la lesión. Realizo,
  fundamentalmente, terapias manuales para el tratamiento de las
  lesiones, incluyendo</p>

  <ul>
    <li>Masoterapia</li>
    <li>Estiramientos</li>
    <li>Medidas de higiene postural</li>
    <li>Ejercicios terapéuticos</li>
    <li>Técnicas de osteopatía</li>
  </ul>

  <h1 class="section-header" id="therapies">Terapias</h1><!--   TODO: Más grande -->
  <dl class="therapies">
    <dt>Fisioterapia deportiva</dt>
    <dd>Valoración y tratamiento de lesiones deportivas, seguimiento de las mismas, orientación profesional terapéutica para la práctica deportiva, masaje de descarga pre y postcompetición.</dd>
    <dt>Osteopatía</dt>
    <dd>Estructural, visceral y craneal (cráneo-sacro). Valoraciones globales para comprender mejor el funcionamiento del cuerpo y con ello poder comprender el origen de la lesión, y tratamientos completos con técnicas de terapia manual.</dd>
    <dt>Vendajes neuromusculares y funcionales</dt>
    <dd>Para prevención de lesiones y vendajes terapéuticos.</dd>
    <dt>Higiene postural</dt>
    <dd>Adición al tratamiento de unas correcciones posturales y consejos de ergonomía para prevenir posibles lesiones.</dd>
    <dt>Neurodinámica</dt>
    <dd>Estiramientos de las raíces nerviosas para aportar flexibilidad y eliminar focos de tensión en los mismos que da origen, por ejemplo, a afectación del túnel carpiano, ciáticas, etc..</dd>
    <dt>Fisioterapia a domicilio</dt>
    <dd>Para tratamientos de larga evolución o sesiones individuales puntuales.</dd>
    <dt>Neurorrehabilitación</dt>
    <dd>Tratamientos de lesiones neurológicas, tales como esclerosis múltiple, AVC, parálisis cerebrales, etc..</dd>
    <dt>Ejercicios terapéuticos</dt>
    <dd>Ejercicios para el tratamiento de la lesión, ya sea para ayudar a recuperarla como a prevenir futuras recaídas por descompensaciones musculares.</dd>
  </dl>

  <h1 class="section-header" id="pricing">Tarifas</h1><!-- TODO: Más grande -->
  <ul class="small-block-grid-3">
    <li>
      <ul class="pricing-table">
        <li class="title">Media sesión</li>
        <li class="price">12 euros</li>
        <li class="description">Indicada para lesiones leves, lesiones en fase final de recuperación o lesiones muy focalizadas</li>
      </ul>
    </li>
    <li>
      <ul class="pricing-table">
        <li class="title">Sesión completa</li>
        <li class="price">20 euros</li>
        <li class="description">Sesión estándar</li>
      </ul>
    </li>
    <li>
      <ul class="pricing-table">
        <li class="title">Sesión a domicilio</li>
        <li class="price">30 euros</li>
        <li class="description">Sesión de 45 minutos en el domicilio del paciente</li>
      </ul>
    </li>
  </ul>
</div>

<div class="row">
  <h1 class="section-header" id="contact">Contacto</h1><!--   TODO: Más grande -->
  <p class="columns small-12 large-9">La consulta se encuentra en la zona de Las Tres Ventanas, junto al asilo de ancianos del Huerto Paco. Por favor, solicite cita previa con una llamada telefónica, mensaje de texto, mensaje de WhatsApp o correo electrónico.</p>
  <div class="columns small-12 large-3">
    <ul class="vcard right"> <!-- TODO:Align vcard -->
      <li class="fn">Daniel García Fuentes</li>
      <li class="email"><i class="fa fa-envelope-o"></i> <a href="mailto:dgfsalud@gmail.com">dgfsalud@gmail.com</a></li>
      <li class="tel"><i class="fa fa-mobile-phone"></i> 635 50 55 49</li>
    </ul>
  </div>
</div>
<div class="highlighted-background">
  <div class="row">
    <div class="columns small-12 large-12">
      <iframe class="map expanded-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1587.5631843037058!2d-6.941893323858281!3d37.26843039493897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd11cfe0e4cfc1d1%3A0xd44bdd41001ee580!2sCalle+Virgen+del+Mayor+Dolor%2C+21005+Huelva%2C+Spain!5e0!3m2!1sen!2sus!4v1450095540847" frameborder="0"></iframe>
    </div>
  </div>
</div>
